*.bak
*.swp
*.iws
lib/
*.log
*.orig
.idea/workspace.xml
portal/src/.idea/workspace.xml
.idea/projectCodeStyle.xml
/out
server.pid
logs/
tmp/
portal/src/out/**
portal/src/modules/**
portal/src/lib/**
portal/src/data/attachments/**
application.log
sites/tmpClient*
