.address {
    font-weight: bold;
}

#header {
    background: black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

#header a {
    margin-left: 2em;
}

#content {
    margin-left: 1em;
    margin-right: 2em;
}

.warning {
    font-weight: bold;
    color: red;
}