#{set 'moreStyles'}
#{stylesheet 'index.css' /}
#{/set}
#{extends 'main.html' /}
#{set title:'Bitcoin Hot Potato' /}
#{script 'index.js' /}
<h1>Who is the last sucker?</h1>

<img src="@{'/public/images/hot_potato.png'}"/>

<p>Bitcoin Potato is an <a href="https://github.com/ripper234/Bitcoin-Potato">open source</a> fun social experiment. The
    objective: not be the last one stuck with the hot potato. The game is played using <a href="http://bitcoin.org/">Bitcoin</a>.
</p>

<p>To play, all you need to do is pay the current fee (or more). Then, if and when the next person joins the game, he
    has to pay
    at least 20% more than what you paid. You, being the previous <em>Potato Holder</em>, immediately get his full fund
    (minus a
    %1 fee). See the <a href="@{faq()}">FAQ</a>.
</p>

<div id='pay'>
    <button id='to-play'>Click here to Play!</button>
    <div id='play-instructions' class="hidden">
        #{if testnet}
            <span class='warning'>
            (The site is not yet functional, do not send any Bitcoins!)
            *{(The site is currently in alpha testing, use a testnet address!)}*
        </span>
        #{/if}

        <ol>
            <li>Give us a return address (this is where we will pay you back):
                <form id="return-address-form" action='@{Application.getPaymentAddress}' method='post'>
                    <input name="returnAddress">
                    <input type='submit' value="Submit">
                </form>
            </li>
            <li>Send a payment of at least ${transaction.minimalAmount} to the</li>
            <li>When we have at least 2 confirmations (average: 20 minutes), we'll accept the payment,
                we will send 99% of your payment to #{address transaction.payoutAddress /}, and put you
                at the front of the line.
            </li>
        </ol>
    </div>
</div>

<br/><br/><br/>
<p>If you liked this project, check out <a href="http://bitcoinpie.com/">Bitcoin Pie</a>.</p>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
    <a class="addthis_button_tweet"></a>
    <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
    <a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ripper234"></script>
<!-- AddThis Button END -->